# Emily Soto - 20190508

In [3]:
import numpy as np
import pandas as pd
heroes = pd.read_csv(r"C:\Users\Emily Soto\Desktop\Data Science\DW\heroes_information.csv")

In [4]:
###instalar desde anaconda navigator######
from pandasql import *

In [5]:
pysqldf = lambda q: sqldf(q,globals())

In [6]:
query2 = " SELECT * FROM heroes limit 10"

In [7]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

# Pregunta 01
Cuál es el nombre del primer superhéroe de la tabla heroes?

In [13]:
p1="SELECT * FROM heroes LIMIT 1"
pysqldf(p1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0

# Pregunta 02
Cuántas casas publicadoras existen?

In [20]:
p2='''SELECT COUNT(Publisher) as CasaPublicadoras
     FROM heroes'''
pysqldf(p2)

   CasaPublicadoras
0               719

# Pregunta 03
Cuántos superhéroes miden más de 2 metros (200 cms)

In [27]:
p3='''SELECT count(name) as Heroes_Altos
    FROM heroes
    WHERE Height>=2'''
pysqldf(p3)

   Heroes_Altos
0           517

# Pregunta 04
Cuántos superhéroes son humanos y miden más de 2 metros (200 cms)?

In [26]:
p4='''SELECT count(name) as Humanos_de_dos_m
    FROM heroes
    WHERE Race="Human"
    AND Height >= 2'''
pysqldf(p4)

   Humanos_de_dos_m
0               169

# Pregunta 05
Cuántos superhéroes pesan más de 100 lbs y menos de 200 lbs?

In [37]:
p5='''SELECT count(name) as Entre_100y200lb
    FROM heroes
    WHERE Weight
    BETWEEN 100 AND 200'''
pysqldf(p5)

   Entre_100y200lb
0               98

# Pregunta 06
Cuántos superhéroes tienen los ojos de color azul o rojo?

In [38]:
p6='''SELECT count(name) as Ojos_Rojos_Azules
    FROM heroes
    WHERE `Eye Color`="red" OR `Eye Color`="blue"
    '''
pysqldf(p6)

   Ojos_Rojos_Azules
0                271

# Pregunta 07
Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro

In [54]:
p7='''SELECT `Hair Color`, Race, Count(*)
    FROM heroes
    WHERE (`Hair Color`= "Green" AND Race= "Human") OR (`Hair Color`= "Green" AND Race= "Mutant") OR (`Hair Color`= "Black" AND Race= "Vampire")
    GROUP BY `Hair Color`, Race 
    '''
pysqldf(p7)
    #HAVING (`Hair Color`= "Green" OR `Hair Color`= "Black")
    #AND (Race="Mutant" OR Race="Human" OR Race="Vampire")

  Hair color     Race  Count(*)
0      Black  Vampire         1
1      Green    Human         3
2      Green   Mutant         1

# Pregunta 08
Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?

In [56]:
p8='''SELECT name
    FROM heroes
    ORDER BY race
    DESC
    LIMIT 1
    '''
pysqldf(p8)

             name
0  Solomon Grundy

# Pregunta 09
Cuántos superhéroes son de género masculino y cuántas de género femenino?

In [57]:
p7='''SELECT Gender, Count(*)
    FROM heroes
    GROUP BY Gender 
    '''
pysqldf(p7)

   Gender  Count(*)
0    None        29
1  Female       200
2    Male       505

# Pregunta 10
Cuántas casas publicadoras tienen más de 15 superhéroes?

In [58]:
p7='''SELECT Publisher, Count(*)
    FROM heroes
    GROUP BY Publisher 
    HAVING count(Publisher)>15
    '''
pysqldf(p7)

           Publisher  Count(*)
0          DC Comics       215
1  Dark Horse Comics        18
2      Marvel Comics       388
3       NBC - Heroes        19